/*--------------------------------------------------------------------------------Variables---------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/
.zuttons {
  background-color: transparent !important;
  outline: none !important;
  border: 2px #F64C72 solid !important;
  box-shadow: none !important;
  margin-left: 1%;
}
.zuttons:hover {
  background-color: #fa6787 !important;
}
.zuttons:active {
  background-color: #ff3f69 !important;
}

.flash-container {
  display: flex;
  justify-content: center;
}

.succes {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width-background-color: var(#53A653);
  width-opacity: 90%;
  width-color: #ffffff;
}

.Info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width-background-color: var(#b39800);
  width-opacity: 90%;
  width-color: #ffffff;
}

.alert {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(4alert-button-color);
  opacity: 90%;
  color: #ffffff;
}

.closebtn {
  margin-left: 15px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: #000;
}

body {
  background-image: url("../Assets/tea.jpg");
  background-repeat: no-repeat;
  background-size: 65% 150%;
  background-position: left top;
}

.color-text {
  color: #000;
  float: right;
  font-size: 15px;
}

.color-title {
  color: #000;
  float: right;
  font-size: 22p;
}

.m-container {
  float: right;
  margin-top: 20%;
  margin-left: 40%;
  width: 100%;
}

.img-body {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn {
  float: right;
}

.bg_color {
  background-color: blue;
}

.right {
  float: right;
}

.left {
  float: left;
}

.margin_right {
  margin-right: 14%;
}

@media screen and (min-device-width: 1005px) and (max-device-width: 1440px) {
  .m-container {
    width: 150%;
    margin-left: 15%;
    margin-right: 3%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  body {
    background-image: url("../Assets/tea.jpg");
    background-repeat: no-repeat;
    background-size: 50% 150%;
    background-position: left top;
  }

  .margin-right {
    margin-right: 14%;
  }

  .button {
    padding: 2%;
    border-radius: 0.25em;
  }

  .wait {
    cursor: wait;
  }
}
@media screen and (min-device-width: 984px) and (max-device-width: 1004px) {
  .m-container {
    width: 150%;
    margin-left: 50%;
    margin-right: 0.1%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  body {
    background-image: url("../Assets/tea.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 45% 150%;
    background-position: left top;
  }
}
@media screen and (min-device-width: 585px) and (max-device-width: 984px) {
  body {
    background-color: #ffffff;
  }

  .color-text {
    font-size: 15px;
  }

  .m-container {
    width: 80%;
    margin-left: 10%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (max-device-width: 984px) {
  body {
    background-size: 100% 200%;
    background-image: linear-gradient(#242582, #2F2FA2);
  }

  .color-text {
    font-size: 15px;
  }

  .m-container {
    width: 100%;
    margin-left: 10%;
  }
}