body {
  background-image: linear-gradient(#242582, #2F2FA2) !important;
  background-repeat: no-repeat;
  background-size: 100%;
}

#navbar {
  background-color: transparent !important;
}
#navbar #logo {
  color: #F64C72 !important;
}

#back {
  background-color: transparent !important;
  outline: none !important;
  border: 2px #F64C72 solid;
  box-shadow: none !important;
}

#back:hover {
  background-color: #fa6787 !important;
}

#back:active {
  background-color: #ff3f69 !important;
}

#title {
  margin-top: 4%;
  margin-bottom: 5%;
  border-bottom: 2px #F64C72 solid;
  padding-bottom: 3%;
}

#details {
  line-height: 40px;
  padding-bottom: 3%;
  border-bottom: 2px #F64C72 solid;
}

.info {
  margin-top: 7%;
  border-right: 2px #F64C72 solid;
  padding-right: 2%;
}

.inputparent {
  margin-top: 5%;
  border-top: 3px #2F2FA2 solid;
  border-bottom: 3px #2F2FA2 solid;
  padding-top: 4%;
}

.input {
  color: black;
  width: 60%;
  height: 8em;
  padding: 0.5%;
  margin-bottom: 5%;
  outline: none !important;
}
.input:focus {
  border: 2px white solid;
  border-radius: 0.5em;
}

.submit {
  margin-right: 3%;
  text-decoration: none;
  color: white !important;
  background-color: transparent;
  border: 2px #F64C72 solid;
  padding: 0.5%;
  border-radius: 0.25em;
  margin-top: -6%;
}

.submit:hover {
  background-color: #fa6787 !important;
}

.submit:active {
  background-color: #ff3f69 !important;
}

.edit {
  margin-bottom: 8%;
}

@media screen and (min-device-width: 50px) and (max-device-width: 992px) {
  * {
    font-size: 15px !important;
  }

  .info {
    margin-bottom: 10%;
  }

  #logo {
    font-size: 17px !important;
  }
}
@media screen and (min-device-width: 50px) and (max-device-width: 768px) {
  * {
    font-size: 10px !important;
  }
}