/--------------------------------------------------------------------------------Variables---------------------------------------------------------------/

$colorz: #242582
$colorz-light:#4d09ba
$colora:  #553D67
$colorb:  #F64C72
$colorc:  #99738E
$colorx:  #2F2FA2
$nav-log-hov:#fa6787
$nav-log-act:#ff3f69
$white:#ffffff
$5-white:#fffffff5
$b-white:#bbbbbb
$eb-white:#ebebeb
$black:#000
$nav-op-border:#f895ab
$srch-hover:#aeaeae
$button-hov:#fa6787
$button-act:#ff3f69
$bg-create:#2F2FA2
$create-btn-hov:#4242af
$create-btn-act:#2c2cbb
$about:#5700ae



/--------------------------------------------------------------------------------------------------------------------------------------------------------/







body
    background-image: linear-gradient($colorz,$colorx) !important
    background-repeat: no-repeat
    background-size: 100%






.boring



    margin-top: 20%
    margin-bottom: 30%

#navbar
    background-color: transparent !important

    #logo
        color: $colorb !important
        font-size: 33px !important

    #signin
        background-color: transparent !important
        outline: none !important
        border: 2px $colorb solid
        box-shadow: none !important
        
        &:hover 
            background-color: $button-hov !important
        &:active
            background-color: $button-act !important



.how
        line-height: 35px !important

#section1text
    color: $5-white !important


#why
    margin-top: 5%
    font-size: 20px
.when
    font-size: 28px !important

#logo
    font-size: 20px !important

#num
    border-bottom: $colorb 2px solid
    border-radius: 0.25em
    padding: 0.5%

#card
    text-align: center
    margin-top: 5%
    background-color: $5-white
    color: black
    margin-right: 5%
    margin-left: 5%
    margin-bottom: 5%

    
#create
    background-color: $bg-create !important
    border: none
    box-shadow: none !important
    
    &:hover
            background-color: $create-btn-hov !important
    &:active
            background-color: $create-btn-act !important
#about
    margin-top: 30%
    margin-bottom: 10%
    padding: 3%
    background-image: linear-gradient($colorz, $about) !important
    border: 2px $about solid

#us
    text-align: center
    color: $5-white
    margin-bottom: 5%
    font-size: 26px

#join 
    text-align: center
    color: $colorb
    font-size: 26px
    margin-bottom: -2%
    margin-top: 20% !important


#cardsbg
    border: $colorx 3px solid

    
.card-text
    border-top: 1px $about solid
    padding-top: 2%


.card-text1
    border-top: 1px $colorx solid
    padding-top: 2%



@media screen and (max-device-width:"768px")
    #navbar
        margin-bottom: 15%
    *
        font-size: 11px !important
    

    

@media screen and (max-device-width:"574px")
    .boring

        text-align: center
        font-size: 10px !important
        margin-top: 20%
        margin-bottom: 10%

    *
        font-size: 14px !important

    .card-text
       font-size: 10px !important