$colorz: #242582
$colora: #553D67
$colorb: #F64C72
$colorc: #99738E
$colorx: #2F2FA2 








body
    background-image: linear-gradient($colorz,$colorx) !important
    background-repeat: no-repeat
    background-size: 100%







#navbar
    background-color: transparent !important

    #logo
        color: $colorb !important

    #signin
        background-color: transparent !important
        outline: none !important
        border: 2px $colorb solid
        box-shadow: none !important
    #signin:hover 
         background-color: #fa6787 !important
    #signin:active
        background-color: #ff1b4c !important



.how
        line-height: 27px !important

#section1text
    color: #fffffff5 !important


#why
    margin-top: 5%
    font-size: 20px
#num
    border-bottom: $colorb 2px solid
    border-radius: 0.25em
    padding: 0.5%

#card
    text-align: center
    margin-top: 5%
    background-color: #fffffff5
    color: black
    margin-right: 5%
    margin-left: 5%
    margin-bottom: 5%

    
#create
    background-color: #2F2FA2 !important
    border: none
    box-shadow: none !important
#create:hover
    background-color: #4242af !important
#create:active
    background-color: #2c2cbb !important
#about
    margin-top: 30%
    margin-bottom: 10%
    border: 5px $colorb solid
    padding: 4%
    border-radius: 0.50em
    background-image: linear-gradient($colorz,$colorb) !important

#us
    text-align: center
    color: #fffffff5
    margin-bottom: 5%
    font-size: 26px

#join 
    text-align: center
    color: #fffffff5
    font-size: 26px
    margin-bottom: -2%
    margin-top: 30% !important

#cardsbg
    border: $colorx 3px solid

    





@media screen and (max-device-width:"768px")
    #navbar
        margin-bottom: 15%
    *
        font-size: 11px
    
    .how
        line-height: 20px !important
    

@media screen and (max-device-width:"574px")
    .boring
        display: block
        text-align: center

    *
        font-size: 13px