$colorz: #242582
$colora: #553D67
$colorb: #F64C72
$colorc: #99738E
$colorx: #2F2FA2 




body
    background-image: linear-gradient($colorz,$colorx) !important
    background-repeat: no-repeat
    background-size: 100%

#navbar
    background-color: transparent !important

    #logo
        color: $colorb !important

#back
    background-color: transparent !important
    outline: none !important
    border: 2px $colorb solid
    box-shadow: none !important
#back:hover 
        background-color: #fa6787 !important
#back:active
    background-color: #ff3f69 !important




#title

    padding-bottom: 1.5%
    padding-top: 3%

#undertitle
    margin-left: 2% !important

#details
    line-height: 35px
    margin-top: 5%
    margin-bottom: 6%



.info
    margin-top: 0.5%




.question
    margin-top: 10%
    background-color: #FFFFFF10
    border-radius: 0.25em
    padding: 5%

.inputparent
    margin-top: 5%
    padding-top: 4%
    border-top: 2px $colorx solid
    margin-right: 1%

.comment
    margin-bottom: 3%
.infocmnt
    border-right: 2px $colorb solid
    padding-right: 2%
.input
    color: black
    width: 60%
    height: 8em
    padding: 0.5%
    margin-bottom: 5%
    outline: none !important
    &:focus
        border: 2px white solid
        border-radius: 0.50em



.submit

    margin-right: 3%
    text-decoration: none
    color: white !important
    background-color: transparent
    border: 2px $colorb solid
    padding: 0.5% 
    border-radius: 0.25em
    margin-top: -6%
.submit:hover 
    background-color: #fa6787 !important
.submit:active
    background-color: #ff3f69 !important

.edit
    margin-bottom: 8%








@media screen and ( min-device-width:50px) and ( max-device-width:992px)

    .question
        margin-top: 15% !important

    .info
        margin-top: 5%
        margin-bottom: 5%

    #logo
        font-size: 20px !important


@media screen and ( min-device-width:50px) and ( max-device-width:768px)
