<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
                                                        <!--bootstrap and css links-->
    <link rel="stylesheet" href="{{url_for('static',filename='/TemplatesCss/homepage.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='js/bootstrap.min.js')}}">

</head> 
<body>                                                  <!--navbar-->
  <nav class="navbar mt-2 " id="navbar">
  <div class="container">
    <a href="{{url_for('auth.LoginPage')}}" class="btn btn-primary  text-size-2 p-1" id="signin" >تسجيل الدخول</a>
    <div class="d-flex justify-content-end ">
      <h1 class="text-light" id="logo">
        اسئلة
      </h1>
    </div>
    </div>
  </nav>
                                                        <!--1st section-->
  <section dir="rtl" id="section1" class="mt-4">
    <div class="container"> 
      <div class="d-flex align-items-center justify-content-between">
        <div id="section1text">
          <div class="boring">
        <h1 class="h4 mb-3 when" >مرحبا بك في موقع اسئلة</h1>
        <h1 class="h6 how">فيساعرص بيحب الموقع دا بس نيوتن عرص بيقولك موقع تفاحي
                       سشسايسعهيشهسعيهعسشايعسلاييهشسيهعسهعايعهشسايعهش  
        </h1>
        <h4 id="why">عدد الاسئلة : <span class="" id="num">{{number_of_posts}}</span></h4>
      </div>
      </div>
        <img src="static/study.png" alt="" dir="ltr" width="38%" class="d-sm-block d-none mt-4">
      </div> 
  </section>

                                                          <!--cards-->
  <div class="container">
  <div class="d-flex justify-content-center mt-5">
  <div class="card " style="width: 14rem;" id="card">
    <div class="card-body">
      <h5 class="card-title"> معلم</h5>
      <p class="card-text">شهسلتسجيل الدخول هات امك ليلتينه</p>
      <a href="{{url_for('auth.TeacherRegisterPage')}}" class="btn btn-primary" id="create">انشاء الحساب</a>
    </div>
  </div>

  <div class="card " style="width: 14rem;" id="card">
    <div class="card-body">
      <h5 class="card-title"> تلميذ </h5>
      <p class="card-text">شهلتسجيل الدخول هات اختك ليلهخه</p>
      <a href="{{url_for('auth.StudentRegisterPage')}}" class="btn btn-primary" id="create">انشاء الحساب</a>
    </div>
  </div>                                        
</div>
</div>
                                                                            <!--about us-->
                                                                      
<div class="container" id="about">

<div class="row g-4">
          <div class="col-md-6 col-lg-4">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img src="../static/Assets/Amakku.jpg" width="100px" class="rounded-circle mb-3" alt="">
                <h3 class="card-title mb-3">Ammar Elhregy</h3>
                <p class="card-text">
                  Lorem ipsum dolor FRONT END adipisicing elit.
                  <br>
                  Discord : Amakku#6537
                </p>

              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img src="../static/Assets/Trap.jpg" width="100px" class="rounded-circle mb-3" alt="">
                <h3 class="card-title mb-3">Omar Albosaty</h3>
                <p class="card-text">
                  Lorem ipsum doslor BACK END adipisicing elit.
                  <br>
                  Discord : DrTr4p#7732
                </p>

              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" id="yosef">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img src="../static/Assets/Jeynore.jpg" width="100px" class="rounded-circle mb-3" alt="">
                <h3 class="card-title mb-3" >Youssef Albosaty</h3>
                <p class="card-text">
                  Lorem ipsum dolor FRONT END adipisicing elit.
                  <br>
                  Discord : Jeyenore#5051
                </p>
              </div>
            </div>
          </div>
        </div>
</div>

<footer class="p-5 bg-dark text-white text-center position-relative">
  <div class="container">
    <p class="lead">هوم بيج بربع جنيه &copy; امك</p>

    <a href="#" class="position-absolute bottom-0 end-0 p-5">
      <i class="bi bi-arrow-up-circle h1"></i>
    </a>
  </div>
</footer>

</body>
</html>