{% extends 'base.html' %}
{% block body %}
<style>
    #centerheader{
        text-align: center;
        position: absolute;
        top: 24%;
        width: 100%;
        text-align: center;
        font-size: 33px;

    }

    #scndcenterheader{
        text-align: center;
        position: absolute;
        top: 31%;
        width: 100%;
        text-align: center;
        font-size: 33px;
    }

    #centerP{
        text-align: center;
        position: absolute;
        top: 38%;
        width: 100%;
        text-align: center;
        font-size: 19px;
    }

    .cntrline{
        border-left: 2px solid #6B0085;
        height: 51px;
        position: absolute;
        left: 50%;
        margin-left: 1.9px;
        top: 47%;
    }

    #wordunderbutton{
        text-align: center;
        position: absolute;
        top: 56%;
        width: 100%;
        font-size: 15px;
    }

    .logo{
        text-align: right; 
        font-size: 50px;
        margin-right: 2%;
        color: #6B0085;
    }

    #footer{
        text-align:left;
        position: absolute;
        top: 95%;
        width: 100%;
        font-size: 15px;
        margin-left: 1%;
    }
</style>
{%block body%}
<h1 id="centerheader"><b>لملفكره انا موقع وسخ</b></h1>

<h1 id="scndcenterheader"><b>عورم ابسم از اكتوالي امك عشان ابسم بيبحش اللور</b></h1>

<p id="centerP">دامي تكست بحب البمبم والبمبم مش بيحبني خخخخ كسم حياتي</p>

<p id="wordunderbutton">عمر و يوسف شواذ باي زا وي</p>

<div class="cntrline"></div>

<p class="logo">لوجو</p>

<p id="footer">محمصة ابو الفتوح&copy;</p>
{% endblock body %}