<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


                                                        <!--bootstrap and css links-->
<link rel="stylesheet" href="{{url_for('static',filename='/TemplatesCss/mainpage.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='js/bootstrap.min.js')}}">

    <title>Mainpage</title>
</head>
<body>
                                                          <!--Top Nav-->

    <nav class="navbar navbar-light bg-light mt-2" id="navbar"> 
        <div class="container">
          <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="navopen">&#9776; </span>
          <h1 id="logo">
            اسئلة
          </h1>
        </div>
      </nav>

                                                          <!--Side Nav-->

      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#" id="logo">نوع الاسئلة</a>
        {% if current_user.kind == "student"%}
        <a href="#" onclick="window.location.href ='http://127.0.0.1:5000/create/post'" id="newqbtn">سؤال جديد</a>
        {%endif%}
        <a href="#">الملف الشخصي</a>
        <a href="{{url_for('auth.Logout')}}">تسجيل الخروج</a>
      </div>


        <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>

                                                        <!--Header and Search-->
          
          <h3 class="text-center text-light mt-5">الاسئلة الجديدة</h3>
          <form class="d-flex align-items-center justify-content-center mt-3">
            <input class=" srch me-2" placeholder="اضغط للكتابة" >
            <button class="btn" id="search" type="submit">بحث</button>
          </form>


                                                        <!--Questions-->

          {%for item in post%}
        <div class="container newq">
          <div dir="rtl" class=" newqbrdr text-center text-light">
              {%if item.title|length < 35 %}
              <h2 class="card_title d-flex justify-content-center mx-1"> {{item.title}}</h2>
              {%elif item.title|length > 35 and item.title|length < 45 %}
              <h3 class="card_title d-flex justify-content-center mx-1"> {{item.title}}</h3>
              {%elif item.title|length < 65 and item.title|length > 45 %}
              <h5 class="card_title d-flex justify-content-center mx-1"> {{item.title}}</h5>
              {%endif%}
              {%if current_user.id == item.user.id%}
              <h5 class="card_by d-flex justify-content-center mx-1">بواسطة: انت </h5> 
              
              
              {%else%}
              <h3 class="card_by d-flex justify-content-center mx-1">بواسطة:{{item.user.username}} </h3>          
              {%endif%}                
              <h5 class = "subject d-flex justify-content-center mx-1">{{item.subject}}</h5>     
              <h6 class="card_answer d-flex justify-content-center mx-1">{{item.datetime}}</h6>   


                  <div dir="rtl" class="d-flex flex-row justify-content-center align-items-center">
              {%if current_user.id == item.user.id%}
              <button class="btn btn-primary zuttons" onclick="window.location.href = 'http://127.0.0.1:5000/view-post/{{item.id}}'" >ألقي نظرة</button>
              {%else%}
              <button class="btn btn-primary" onclick="window.location.href = 'http://127.0.0.1:5000/view-post/{{item.id}}'" >اجب عليه</button>
              {%endif%}

              {%if current_user.id == item.user.id%}
              <button class="btn btn-primary zuttons" onclick="window.location.href = 'http://127.0.0.1:5000/delete-post/{{item.id}}'" >حذف</button>
              <button class="btn btn-primary zuttons" onclick="window.location.href = 'http://127.0.0.1:5000/update-post/{{item.id}}'" >تعديل</button>
              {%endif%}

                   </div>
            
          </div>
      <!--
      </div>
      <div class="container">
      <div class="cntrline"></div>
      </div>  
-->
              {%endfor%}
              {%for item in second_post%}
              <div class="container newq">
                <div dir="rtl" class=" newqbrdr text-center text-light">
                    {%if item.title|length < 35 %}
                    <h2 class="card_title d-flex justify-content-center mx-1"> {{item.title}}</h2>
                    {%elif item.title|length > 35 and item.title|length < 45 %}
                    <h3 class="card_title d-flex justify-content-center mx-1"> {{item.title}}</h3>
                    {%elif item.title|length < 65 and item.title|length > 45 %}
                    <h5 class="card_title d-flex justify-content-center mx-1"> {{item.title}}</h5>
                    {%endif%}
                    {%if current_user.id == item.user.id%}
                    <h5 class="card_by d-flex justify-content-center mx-1">بواسطة: انت </h5> 
                    
                    
                    {%else%}
                    <h3 class="card_by d-flex justify-content-center mx-1">بواسطة:{{item.user.username}} </h3>          
                    {%endif%}                
                    <h5 class = "subject d-flex justify-content-center mx-1">{{item.subject}}</h5>     
                    <h6 class="card_answer d-flex justify-content-center mx-1">{{item.datetime}}</h6>   
      
      
                        <div dir="rtl" class="d-flex flex-row justify-content-center align-items-center">
                    {%if current_user.id == item.user.id%}
                    <button class="btn btn-primary zuttons" onclick="window.location.href = 'http://127.0.0.1:5000/view-post/{{item.id}}'" >ألقي نظرة</button>
                    {%else%}
                    <button class="btn btn-primary" onclick="window.location.href = 'http://127.0.0.1:5000/view-post/{{item.id}}'" >اجب عليه</button>
                    {%endif%}
      
                    {%if current_user.id == item.user.id%}
                    <button class="btn btn-primary zuttons" onclick="window.location.href = 'http://127.0.0.1:5000/delete-post/{{item.id}}'" >حذف</button>
                    <button class="btn btn-primary zuttons" onclick="window.location.href = 'http://127.0.0.1:5000/update-post/{{item.id}}'" >تعديل</button>
                    {%endif%}
      
                         </div>
                  
                </div>


              {%endfor%} 
                                        


</body>
</html>