{% extends 'base.html' %}
{%block title%}
    معلوماتك الشخصية
{%endblock%}
{% block body %}
    <style>
        body{
            background-image: linear-gradient(#f5e6ff,#fff);
            height:80vh;
            width:100%;
        }
        .profile_title{
        
        color: black;
        padding: fit-content;
        padding-right: 47%;
        padding-bottom: 2%;
        margin-top: 1%;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        }      
        .profile_name_text{
        float: right;
        margin-right: 15%;
        margin-top: 5%;
        }
        .profile_name{
        float: right;
        margin-right: 30%;
        margin-top: 3%;
        width: max-content;
        }
        .comments{
            float: right;
        margin-right: -10%;
        margin-top: 13%;
        text-align: center;
        }
        .question{
            float: right;
        margin-right: 2%;
        margin-top: 13%;
        text-align: center;
        }
        .cntrline{
            float: right;
            height: 2px;
            width: 25%;
            background-color: #6B0085;
            padding-left: 7px;
            padding-right: 7px;
            margin-top: 17%;
            margin-right: -20%;
        }
        .border{
            border-color:black;
            border-style: solid;
            border-width: 5px;
        }
        .profile_std_text{
            float: right;
            margin-right: -25%;
            margin-top: 20%;                   
        }
        .urinfo{
            float: right;
            margin-right: 20%;
            margin-top: -5%;
        }
        .email_title{
            float: right;
        margin-right: 6.5%;
        margin-top: 8%;
        text-align: center;
        
        }
        .school_text{
            float: right;
        margin-right: -25%;
        margin-top: 26%;
        text-align: center;

        }
        .age_text{
            float: right;
        margin-right: -25%;
        margin-top: 28.5%;
        text-align: center;

        }
        .newq{
                float: right;
                margin-right: 50%;
                margin-top: -14%;
            }
            .card_title{
                font-weight: bold;
                float: right;
                margin-top: 3%;
            }
            .card_answer{
                margin-top: 3%;         
                font-weight: bold;
                float: right;
            }
            .card_by{
                margin-top: 3%;
                font-weight: bold;
                float: right;

            }
            .subject{
                background-color: #9149a4;
                color:white;
                margin-top: 3%;
                padding: 1.5%;
                font-weight: bold;
                border-radius: 0.25em;
                float: right;

            }
            .urnewq{
                margin-top: -15%;
                margin-bottom: 10%;
                margin-left: 45%;
            }
            /*-------------------------------------------------------------Resoulution-----------------------------------------------------*/
            @media screen and (min-width:1281px) and (max-width:1662px) {
            .cntrline{
                margin-top: 18%;
            }
            .email_title{
                float: right;
                display: flex;
               justify-content: flex-end;
               align-items: flex-end;
                text-align: center;
            
            }
            .school_text{
                float: right;
                justify-content: flex-end;
               align-items: flex-end;
                text-align: center;
                margin-right: -28.5%;
            }
            .age_text{
                float: right;
                justify-content: flex-end;
               align-items: flex-end;
                text-align: center;
                margin-right: -28.5%;

            }
            
            }
            @media screen and (min-width:1411px) and (max-width:1556px) {
            .cntrline{
                margin-top: 18%;
            }
            .email_title{
                float: right;
                display: flex;
               justify-content: flex-end;
               align-items: flex-end;
                text-align: center;
            
            }
            .school_text{
                float: right;
                justify-content: flex-end;
               align-items: flex-end;
                text-align: center;
                margin-right: -33.7%;
            }
            .age_text{
                float: right;
                justify-content: flex-end;
               align-items: flex-end;
                text-align: center;
                margin-right: -33.6%;

            }
            }
            
            /*---------------------------------------------tablet-------------------------------------------------------*/
            @media screen and (min-device-width:550px) and (max-device-width:1417px) {
            .profile_title{
            
            color: black;
            padding: fit-content;
            padding-right: 47%;
            padding-bottom: 2%;
            margin-top: 1%;
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
            }      
            .profile_name_text{
            float: right;
            margin-right: 40%;
            margin-top: 5%;
            }
            .profile_name{
            float: right;
            margin-right: 30%;
            margin-top: 3%;
            width: max-content;
            }
            .comments{
                float: right;
            margin-right: -10%;
            margin-top: 13%;
            text-align: center;
            }
            .question{
                float: right;
            margin-right: 2%;
            margin-top: 13%;
            text-align: center;
            }
            .cntrline{
                float: right;
                height: 2px;
                width: 25%;
                background-color: #6B0085;
                padding-left: 7px;
                padding-right: 7px;
                margin-top: 20%;
                margin-right: -20%;
            }
            .border{
                border-color:black;
                border-style: solid;
                border-width: 5px;
            }
            .profile_std_text{
                float: right;
                margin-right: -30%;
                margin-top: 23%;                   
            }
            .urinfo{
                float: right;
                margin-right: 20%;
                margin-top: -5%;
            }
            .email_title{
                float: right;
            margin-right: 10%;
            margin-top: 8%;
            text-align: center;
            
            }
            .school_text{
                float: right;
            margin-right: -37.3%;
            margin-top: 30%;
            text-align: center;

            }
            .age_text{
                float: right;
            margin-right: -37.3%;
            margin-top: 32.5%;
            text-align: center;

            }
            .newq{
                    float: right;
                    margin-right: 25%;
                    margin-top: 20%;
                }
                .card_title{
                    font-weight: bold;
                    float: right;
                    margin-top: 3%;
                }
                .card_answer{
                    margin-top: 3%;         
                    font-weight: bold;
                    float: right;
                }
                .card_by{
                    margin-top: 3%;
                    font-weight: bold;
                    float: right;

                }
                .subject{
                    background-color: #9149a4;
                    color:white;
                    margin-top: 3%;
                    padding: 1.5%;
                    font-weight: bold;
                    border-radius: 0.25em;
                    float: right;

                }
                .urnewq{
                    margin-top: -15%;
                    margin-bottom: 10%;
                    margin-left: 45%;
                }
                }

            
            
            /*---------------------------------------------tablet-------------------------------------------------------*/
            @media screen and (min-device-width:50px) and (max-device-width:551px) {
            .profile_title{
            
            color: black;
            padding: fit-content;
            padding-right: 47%;
            padding-bottom: 2%;
            margin-top: 1%;
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 10px;
            
            }      
            .profile_name_text{
            float: right;
            margin-right: 40%;
            margin-top: 5%;
            font-size: 10px;
            }
            .profile_name{
            float: right;
            margin-right: 30%;
            margin-top: 3%;
            width: max-content;
            font-size: 10px;
            }
            .comments{
                float: right;
            margin-right: -10%;
            margin-top: 13%;
            text-align: center;
            font-size: 10px;
            }
            .question{
                float: right;
            margin-right: 2%;
            margin-top: 13%;
            text-align: center;
            font-size: 10px;
            }
            .cntrline{
                float: right;
                height: 2px;
                width: 25%;
                background-color: #6B0085;
                padding-left: 7px;
                padding-right: 7px;
                margin-top: 20%;
                margin-right: -20%;
                font-size: 10px;
            }
            .border{
                border-color:black;
                border-style: solid;
                border-width: 5px;
            }
            .profile_std_text{
                float: right;
                margin-right: -30%;
                margin-top: 23%;                   
            }
            .urinfo{
                float: right;
                margin-right: 20%;
                margin-top: -5%;
            }
            .email_title{
                float: right;
            margin-right: 10%;
            margin-top: 8%;
            text-align: center;
            
            }
            .school_text{
                float: right;
            margin-right: -37.3%;
            margin-top: 30%;
            text-align: center;

            }
            .age_text{
                float: right;
            margin-right: -37.3%;
            margin-top: 32.5%;
            text-align: center;

            }
            .newq{
                    float: right;
                    margin-right: 2%;
                    margin-top: 20%;
                    font-size: 10px;
                    width: fit-content;
                    
                }
                .card_title{
                    font-weight: bold;
                    float: right;
                    font-size: 20px;
                    margin-top: 3%;
                    width: fit-content;
                    
                }
                .card_answer{
                    margin-top: 3%;         
                    font-weight: bold;
                    font-size: 20px;
                    float: right;
                    width: fit-content;
                }
                .card_by{
                    margin-top: 3%;
                    font-weight: bold;
                    font-size: 20px;
                    float: right;
                    width: fit-content;

                }
                .subject{
                    background-color: #9149a4;
                    color:white;
                    margin-top: 3%;
                    padding: 1.5%;
                    font-size: 20px;
                    font-weight: bold;
                    border-radius: 0.25em;
                    float: right;
                    width: fit-content;

                }
                .urnewq{
                    margin-top: -15%;
                    margin-bottom: 10%;
                    margin-left: 45%;
                }
                }

    </style>
    <div>
        <div>
            <div class="profile_name_text">
                <h2>الاسم</h2>
                <div class="profile_name">
                    <h5>
                        {{current_user.username}}
                    </h5>            
                </div>
            </div>
            <div class="comments">
                <h4>التعليقات</h4>
                <!-- the backend thing for the numbers -->
                <h4>15</h4>
            </div>
            <div class="question">
                <h4>الاسئلة</h4>
                <!-- the backend thing for the numbers -->
                <h4>18</h4>
            </div>
            <div class="cntrline" ></div>
        <div>
            <div  class="profile_std_text">
                {%if current_user.kind == "student"%}
                <h2 class="urinfo">معلومات طالب</h2>
                <div class="email_title">
                    <h5> {{current_user.email}} :الايميل</h5>
                    </div>
                </div>
                <div class="school_text">
                    <h5> {{current_user.schooltype}} :المدرسة</h5>
                    </div>
                </div>
                <div class="age_text">
                    <h5> {{current_user.age}} :العمر</h5>
                    </div>
                </div>
                {%elif current_user.kind == "teacher"%}
                <h2>معلومات معلم</h2>
                <div class="email_title">
                    <h5> {{current_user.email}} :الايميل</h5>
                    </div>
                </div>
                <div class="school_text">
                    <h5> {{current_user.first_subject}} :المادة الاولة</h5>
                    </div>
                </div>
                <div class="age_text">
                    <h5> {{current_user.second_subject}} :المادة الثانية</h5>
                    </div>
                </div>
                {%endif%}
            </div>
        </div>          
        </div>

            

        <div class="newq border ">    
            <h2 class="urnewq ">الاسئلة</h2>  
            {%for item in post%}
                {%if item.user.id == current_user.id%}               
                <div class="qcontainer ">
                    <h3 class="card_title "> {{item.title}}</h3><br><br><br><br>
                    <h5 class = "subject">{{item.subject}}</h5><br><br><br><br>
                    <h6 dir="rtl" class="card_answer">{{item.datetime}} </h6><br><br><br><br>          
                </div>               
                {%endif%}
            {%endfor%}
        </div>       
    </div>

{%endblock%}

