{%extends 'register_base.html'%}
{%block title%}
     انشاء حساب  
     
{%endblock%}
{%block body%}
<style>
     /*---------------------------SignUpStudent-----------------------------------*/

     /*-----------------------------------School------------------------------*/
     .school-text{
          font-weight: bold;
          position: relative;
          bottom :-110px;
          left :345px;
     }
     .school-input-text{
          
          padding:5px 10px;
          font-weight: bold;
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
          font-size: 20px;
          margin: 4px 0;
          position: relative;
          bottom :-115px;
          right :-120px;
     }
     /*-----------------------------------Age------------------------------*/
     .age-text{
          font-weight: bold;
          position: relative;
          padding: 6px 10px;
          right :50px;
          margin: 4px 0;
          bottom: -110px;
          box-sizing: border-box;
     }
     .age-input-text{
          width: 8.5%;
          position: relative;
          padding: 6px 10px;
          left :-150px;
          margin: 4px 0;
          bottom: -110px;
     }
     /*-----------------------------------Submit------------------------------*/
     .submit{
          position: relative;
          padding: 5px 10px;
          bottom :-130px;
          left :200px;
          font-size: 17px;
     }
</style>
<form class = "register-form" method="POST">
     {{ form.hidden_tag() }}
     {{ form.csrf_token }}
     <div class = "sign-up-box">
          <div class = "sign-up-title" >
               <h3 class = "sign-up-text ">انشاء حساب الطالب</h3>
          </div>
          <div class = "sign-up-body"> 
               <div>
                    <form>
                         <div class = 'mb-1'>

                         </div>
                         <div class="mb-3">
                              {{form.username.label( class = "name-text mb-2")}}
                              {{form.username(dir = "rtl", class="name-input-text")}}
                              
                              {{form.password1.label(class = "pass1-text mb-2")}}
                              {{form.password1(dir = "rtl" , class="pass1-input-text")}}
                         
                              {{form.password2.label(class = "pass2-text mb-2")}}
                              {{form.password2(dir = "rtl" ,class = "pass2-input-text mb-2")}}

                              {{form.email.label(class = "email-text mb-2")}}
                              {{form.email(class = "email-input-text mb-2")}}

                              {{form.schooltype.label(class = " school-text")}}
                              {{form.schooltype(class = "school-input-text")}}

                              {{form.age.label(class = "age-text")}}
                              {{form.age(class = "age-input-text")}}
                         </div>
                         <div>
                              {{form.submit(class = "submit button")}}
                          </div>
                          <br></br>
                          <div align = "center" class="checkbox down-signup">
                              <h6> هل لديك حساب مسبقا ؟<a href = {{url_for("LoginPage")}}> ارجع اليه</a></h6>
                          </div>
                    </form> 
               </div> 
          </div>
</form>
     </div>
{%endblock%}