{%extends 'register_base.html'%}
{%block title%}
     انشاء حساب  
     
{%endblock%}
{%block body%}
<style>
     .age-school-flex{
          display: flex;
          float:right;
          margin-right:15%;
          align-items: center;
          text-align:right;
     }
     body{
          background-repeat: no-repeat;
     }
     form label{
          display: flex;
          margin-top: 14%;
          font-size: 18px;
          justify-content: flex-end;
          align-items: flex-end;
          margin-bottom: 1%;
          margin-right: 2%;
     }
     form input{
          float:right;
          width: 80%;
          padding:2%;
          margin-top: 1%;
          margin-right:2%;
     }
     /*-----------------------------------School------------------------------*/
     .school-text{
          margin-top:2%;
          font-weight: bold;
          float: right;
          margin-right: -15%;
     }
     .school-input-text{
          width: 40%;
          padding:1%;
          font-weight: bold;
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
          font-size: 140%;
          margin-right:5%;
          text-align: right;
     }
     /*-----------------------------------Age------------------------------*/
     .age-text{
          margin-right:6%;
          margin-top: 2%;
          font-weight: bold;
          margin-bottom: 2%;
     }
     .age-input-text{
          width: 40%;
          text-align: right;
          margin-left:2%;
     }
     /*-----------------------------------Submit------------------------------*/
     .submit{
          font-size: 100%;
     }
     .have-acc{
          display: flex;
          margin-top: 4%;
          width: fit-content;
          margin-left: 30%;
          align-items: flex-start;
          justify-content: flex-start;
     }

</style>
<form class = "register-form" method="POST">
     {{ form.hidden_tag() }}
     {{ form.csrf_token }}
     <div class = "sign-up-box">
          <div class = "sign-up-title" >
               <h3 class = "sign-up-text ">انشاء حساب الطالب</h3>
          </div> 
          <div class="input-container">
               <div class="mb-3">
                    {{form.username.label( class = "name-text")}}
                    {{form.username(dir = "rtl", class="name-input-text")}}
                    <div class="email-flex">
                         {{form.email.label(class = "email-text ")}}
                         {{form.email(class = "email-input-text")}}
                    </div>
                    {{form.password1.label(class = "pass1-text")}}
                    {{form.password1(dir = "rtl" , class="pass1-input-text")}}
               
                    {{form.password2.label(class = "pass2-text")}}
                    {{form.password2(dir = "rtl" ,class = "pass2-input-text")}}
                    <div dir="rtl", class="age-school-flex">
                         {{form.schooltype.label(class = " school-text")}}
                         {{form.schooltype(class = "school-input-text")}}

                         {{form.age.label(class = "age-text")}}
                         {{form.age(class = "age-input-text")}}
                    </div>
                    {{form.submit(class = "submit button")}}
               </div>
          </div>
          
          <div>
               <br></br>
               <div align = "center" class="checkbox down-signup have-acc">
               <h6> هل لديك حساب مسبقا ؟<a href = {{url_for("auth.LoginPage")}}> ارجع اليه</a></h6>
               </div> 
          </div>   
</form>
{%endblock%}