{%extends 'register_base.html'%}
{%block title%}
     انشاء حساب 
     
{%endblock%}
{%block body%}
<style>
     .fir-sec-sub{
          display: flex;
          float:right;
          margin-right:15%;
          align-items: center;
          text-align:right;
     }
     body{
          background-repeat: no-repeat;
     }
      form label{
          display: flex;
          margin-top: 12px;
          font-size: 18px;
          justify-content: flex-end;
          align-items: flex-end;
          margin-right: 0.6%;
     }
     form input{
          width: 100%;
          padding:7px;
          margin-top: 10px;
     }
     .subject1-input-text{
          display: flex;
          padding: 6px 10px;
          justify-content: flex-end;
          float: right;
     }
     .subject1-text{
          font-weight: bold;
          width: fit-content;
          padding: 6px 10px;
          box-sizing: border-box;
          justify-content: flex-end;
          margin-right: -10%;
     }
     /*------------------------------second subject-------------------------*/
      .subject2-input-text{
           margin-top: 1%;
          padding: 6px 10px;
          justify-content: flex-end;
          justify-self: flex-end;
     }
     .subject2-text{
          font-weight: bold;
          padding: 6px 10px;
          box-sizing: border-box;
          justify-content: flex-end;
     }
     .have-acc{
          display: flex;
          margin-top: -10%;
          width: fit-content;
          margin-left: 30%;
          align-items: flex-start;
          justify-content: flex-start;
     }
     .button-mar{
     margin-right: 15%;
     margin-left: 0%;
     }
</style>
<form class="register-page" method="POST">
     {{ form.hidden_tag() }}
     {{ form.csrf_token }}
     <div class = "sign-up-box">
          <div class = "sign-up-title" >
               <h3 class = "sign-up-text">  انشاء حساب المعلم</h3>
          </div>
          <div class = "sign-up-body">   
               <div>
                    <form>
                         {{form.username.label(class = "name-text mb-2")}}
                         {{form.username(dir = "rtl", placeholder = "اكتب هنا",class="name-input-text")}}
                         
                         {{form.password1.label(class = "pass1-text mb-2")}}
                         {{form.password1(dir = "rtl", placeholder = "اكتب هنا",class="pass1-input-text")}}
                    
                         {{form.password2.label(class = "pass2-text mb-2")}}
                         {{form.password2(dir = "rtl", placeholder = "اكتب هنا",class = "pass2-input-text mb-2")}}

                         {{form.email.label(class = "email-text mb-3")}}
                         {{form.email(dir = "rtl", placeholder = "اكتب هنا", class = "email-input-text mb-2")}}
                         <div dir="rtl" class = "fir-sec-sub">
                              {{form.first_subject.label(class = "subject1-text")}}
                              {{form.first_subject(class = "subject1-input-text")}}
                              {{form.second_subject.label(class = "subject2-text")}}
                              {{form.second_subject(class = "subject2-input-text mb-2")}}
                         </div>
                         {{form.submit(class = "button-mar button submit mb-4")}}
                    </div>
                     <br></br>
                    <div align = "center" class="checkbox down-signup have-acc">
                         <h6> هل لديك حساب مسبقا ؟<a href = {{url_for("LoginPage")}}> ارجع اليه</a></h6>
                     </div>
                    
                    </form> 
               </div> 
          </div>

          
     </div>
</form>
{%endblock%}