{%extends 'register_base.html'%}
{%block title%}
     انشاء حساب 
     
{%endblock%}
{%block body%}
<style>
     .subject1-input-text{
          width: 25%;
          position: relative;
          padding: 6px 10px;
          left :140px;
          margin: 4px 0;
          bottom: -100px;
     }
     .subject1-text{
          font-weight: bold;
          position: relative;
          padding: 6px 10px;
          left :23em;
          margin: 4px 0;
          bottom: -98px;
          box-sizing: border-box;
     }
     /*------------------------------second subject-------------------------*/
      .subject2-input-text{
          width: 25%;
          position: relative;
          padding: 6px 10px;
          left :-320px;
          margin: 4px 0;
          bottom: -100px;
     }
     .subject2-text{
          font-weight: bold;
          position: relative;
          padding: 6px 10px;
          right :90px;
          margin: 4px 0;
          bottom: -98px;
          box-sizing: border-box;
     }
</style>
<form class="register-page" method="POST">
     {{ form.hidden_tag() }}
     {{ form.csrf_token }}
     <div class = "sign-up-box">
          <div class = "sign-up-title" >
               <h3 class = "sign-up-text">  انشاء حساب المعلم</h3>
          </div>
          <div class = "sign-up-body">   
               <div>
                    <form>
                         {{form.username.label(class = "name-text mb-2")}}
                         {{form.username(dir = "rtl", placeholder = "اكتب هنا",class="name-input-text")}}
                         
                         {{form.password1.label(class = "pass1-text mb-2")}}
                         {{form.password1(dir = "rtl", placeholder = "اكتب هنا",class="pass1-input-text")}}
                    
                         {{form.password2.label(class = "pass2-text mb-2")}}
                         {{form.password2(dir = "rtl", placeholder = "اكتب هنا",class = "pass2-input-text mb-2")}}

                         {{form.email.label(class = "email-text mb-3")}}
                         {{form.email(dir = "rtl", placeholder = "اكتب هنا", class = "email-input-text mb-2")}}

                         {{form.first_subject.label(class = "subject1-text")}}
                         {{form.first_subject(class = "subject1-input-text")}}

                         {{form.second_subject.label(class = "subject2-text")}}
                         {{form.second_subject(class = "subject2-input-text mb-2")}}

                    </div>
                    <div>  
                         {{form.submit(class = "button submit mb-4")}}
                     </div>
                     <br></br>
                    <div align = "center" class="checkbox down-signup">
                         <h6> هل لديك حساب مسبقا ؟<a href = {{url_for("LoginPage")}}> ارجع اليه</a></h6>
                     </div>
                    
                    </form> 
               </div> 
          </div>

          
     </div>
</form>
{%endblock%}