<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ViewPost</title>

                                                                                <!--links-->

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='/TemplatesCss/ViewPost.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='js/bootstrap.min.js')}}"
    />
    <script src="{{url_for('static',filename='jquery/jquery-3.6.0.min.js')}}"></script>
  </head>
  <body>

    <!--Top Nav-->

    <nav class="navbar navbar-light bg-light mt-2" id="navbar">
      <div class="container">
        <a href="/mainpage" class="btn btn-primary text-size-2 p-1" id="back"
          >الرجوع</a
        >
        <h1 id="logo">اسئلة</h1>
      </div>
    </nav>
    <div dir="rtl" class="container">

                                                                                <!--The Question + Comment field-->
    <div class="container">
      <div
        class=" text-light px-5 question"
      >
        <h5 id="title" dir="rtl" >{{post.title}}</h5>
        <div class="d-flex flex-row justify-content-start ">
            <p style="margin-top: 4%;">  <p style="color: #F64C72;" id="undertitle">المادة : </p> {{post.user.username}}   </p>
            <p style="margin-top: 4%;" id="undertitle">  <p style="color: #F64C72;" id="undertitle">التاريخ : </p> {{post.datetime}}   </p>
        </div>  
        <h6 id="details" dir="rtl">{{post.description}}</h6>


        <div class=" text-light d-flex flex-row justify-content-start">
            <p style="margin-top: 4%;">  <p style="color: #F64C72;" id="undertitle">المادة: </p> {{post.subject}}   </p>
          </div>
        </div>

        <a
          href="/update-post/{{post.id}}"
          class="btn btn-primary edit"
          id="back"
          style="margin-top: 3%"
          >تعديل السؤال</a
        >

    <h4 class="text-center text-light my-5">الاجابات :</h4>
    {%for item in comment%}
    <div class="container">
      <div
        dir="rtl"
        class="d-flex justify-items-start align-items-center-flex-column"
      >
        <div class="info text-light">
          <h6>بواسطة : {{item.user.username}}</h6>
          <h6>التاريخ : {{item.datetime}}</h6>
        </div>
      </div>
      <h6
        class="text-light text-center"
        style="line-height: 30px; margin-bottom: 10%; margin-top: 7%"
      >
        {{item.description}}
      </h6>
    </div>
    {%endfor%}
    <div class="container">
        <form
          class="d-flex justify-content-end align-items-center flex-row inputparent"
          ,
          method="POST"
        >
          {{form.create(class="submit")}} {{form.description(default =
          "",dir="rtl" , class="input" , id="answerinput" , placeholder="اضغط هنا لاضافة اجابة")}}
        </form>
      </div>
    </div>
  </div>
  </body>
</html>
