{% extends 'base.html' %}
{%block title%}
البوست
{%endblock%}
{%block body%}                    

<button id="back" onclick="window.location.href ='http://127.0.0.1:5000/mainpage'"> الرجوع</button>
<button id="addanswer" onclick="window.location.href ='http://127.0.0.1:5000/mainpage'"> اضافة اجابة</button>

<div class="info">
    <p class="user">{{post.user.username}} : بواسطة  </p>
    <p class = "subject"> المادة: {{post.subject}} </p>     
    <p class="date">الوقت : {{post.datetime}}</p>   
</div>

<div class="thequestion">
    <h3 id="title">{{post.title}}<h3>
    <p id="cntrline" class="firstcntrline"></p>
    <h4 id="description">
       {{post.description}}
    </h4>
    <h6 id="update-description">{{post.update_description}}</h6>
    <p id="cntrline" class="secondcntrline"></p>
</div>

<p id="replynum">عدد الاجابات : 3</p>

<div class="reply">
<p id="titleOFreply">{{comment.title}}/p>
<p id="thereply">
    {{comment.description}}</p>

<p id="writerOFreply" dir="rtl">{{post.user.username}} : بواسطة </p>
<p id="timeOFreply" dir="rtl">2022 2 22 22:22</p>
</div>

<style>


.reply{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #a700c9;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5%;

}

#title{
    font-size: 19px;
}

#replynum{
    text-align: center;
    color:#a700c9;
    font-size: 19px;
    margin-top: 1%;
}

.thequestion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 9%;
    font-size: 17px;
    font-weight: 500;
    max-width: 80%;
    margin-left: 10%;

}

.likeXdislike{
    font-size: 50px;
    display: flex;
    justify-content: center;
}

#dislike{
        display: inline;
        -moz-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -ms-transform: scale(-1, -1);
        transform: scale(-1, -1);

}

.info{
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    font-weight: bold;
    font-size: 16px;
}


#back{
    font-size: 18px;
    background-color: transparent;
    color: #6B0085 ;
    border-color: #6B0085;
    border-radius: 0.25em;
    padding: 0.3% 0.6% 0.3% 0.6%;
    transition-timing-function: ease-in;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 2%;
}

#addanswer{
    font-size: 18px;
    background-color: transparent;
    color: #6B0085 ;
    border-color: #6B0085;
    border-radius: 0.25em;
    padding: 0.3% 0.6% 0.3% 0.6%;
    transition-timing-function: ease-in;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 2%;
}

#back:hover{
    background-color: #faf6f6;
}

#back:active{
    background-color: #a700c9;
}

#addanswer:hover{
    background-color: #faf6f6;
}

#addanswer:active{
    background-color: #a700c9;
}

#cntrline{
        border-left: 400px solid #6B0085;
        height: 2px;
        transition: 0.3s;
    }

.firstcntrline{
    margin-bottom: 6%;
}
.secondcntrline{
    margin-top: 6%;
}

</style>



{%endblock%}