
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewPost</title>

                                                                                <!--links-->

<link rel="stylesheet" href="{{url_for('static',filename='/TemplatesCss/ViewPost.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='js/bootstrap.min.js')}}">
<script src="{{url_for('static',filename='jquery/jquery-3.6.0.min.js')}}"></script>



</head>
<body>
                                                                                <!--Top Nav-->

    <nav class="navbar navbar-light bg-light mt-2" id="navbar"> 
    <div class="container">
        <a href="" class="btn btn-primary  text-size-2 p-1" id="back" >الرجوع</a>
        <h1 id="logo">
        اسئلة
        </h1>
    </div>
    </nav>
    <div dir="rtl" class="container">

                                                                                <!--user's info-->
        <div class="info text-light">
            <h6>بواسطة : {{post.user.username}}</h6>
            <h6>المادة : {{post.subject}} </h6>
            <h6>التاريخ : {{post.datetime}}</h6>
        </div>
    </div>
                                                                                <!--The Question + Comment field-->
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-column text-light text-break">
            <h5 id="title">{{post.title}}</h5>
            <h6 id="details" dir="rtl">{{post.description}}
            </h6>

            <a href="/update-post/{{post.id}}" class="btn btn-primary edit" id="back" style="margin-top: 3%;">تعديل السؤال</a>

            <div class="container">
                <div class="d-flex justify-content-end align-items-center flex-row inputparent">
                    <a href="" class="submit">اضافة الاجابة</a> {{form.description(dir="rtl" , class="input" , id="" , placeholder="اضغط هنا لاضافة اجابة")}} 
                </div>  
            </div>
        </div>
    </div>
                            <div class="container">
                                <h4 class="text-center text-light my-5">: الاجابات</h4>
                                <div dir="rtl" class="d-flex justify-items-start align-items-center-flex-column">
                                    <div class="info text-light">
                                        <h6>#1</h6>
                                        <h6>بواسطة : امك</h6>
                                        <h6>المادة : فيزياء </h6>
                                        <h6>التاريخ : 2022 2 22 22:22</h6>
                                    </div>
                                </div>
                                <h6 class="text-light text-center " style="line-height: 30px; margin-bottom: 20%; margin-top: 7%">

                                    ي الاجابة للمعادلة ا ب تربيع يساوي ا ب تربيع بلاص خمسه اتنين
                                    ا هي الاجابة ل2ي الاجابة للمعادلة ا ب تربيع يساوي ا ب تربيع بلاص خمسه اتنين
                                    ا هي الاجابة ل2ي الاجابة للمعادلة ا ب تربيع يساوي ا ب تربيع بلاص خمسه اتنين
                                    ا هي الاجابة ل2

                                </h6>

                            </div>             
</body> 
</html>